/*HEADER*/
.nav-link {
color: white;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
width: 200px;
border: solid 0.2em white;
border-radius: 0.7em;
}
.mr {
    border: solid 0.1em white;
}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.copy {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.iconos-redes {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
.bi {
        color: red;
        margin: 10px 10px;
    }
}


/*INICIO*/


.centro {
    width: 60%;
    height: auto;
}

.main1 {
    margin-bottom: 100px;
}

.centro2 {
    width: 40%;
    height: auto;
}

.fotoinicio {
    width: 100%;
    height: 335px;
    border: 0.2em solid black;
}

.text-color-red{
    color: red;
}

/*DISCOGRAFIA*/

.main2 {
    margin-bottom: 100px;
}

.letra {
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
    }
    
    .letra:hover {
    transform: scale(1.2, 1.2);
    }
    
    
    .letra2 {
        transition: all 0.3s;
        position: relative;
        cursor: pointer;
        }
        
    .letra2:hover {
        transform: scale(1.7, 1.7);
        }
    
    .videoss {
        box-shadow: 4px 4px 30px red;
        width: auto;
    }
    .album1 {
        /*display: flex;
        justify-content: space-around;
         align-items: center; */
    }
    
    .gulp {
        width: 50%;
        /*display: flex;
        flex-direction: column;
        align-items: center;*/
    }
    
    .oktubre {
        width: 50%;
        display: flex;
        /*flex-direction: column;
        align-items: center;*/
    }
    
    .album2 {
        display: flex; 
        justify-content: space-around;
        /* align-items: center; */
    }
    
    .ojoidiota {
        width: 50%;
        /*display: flex;
        flex-direction: column;
        align-items: center;*/
    }
    
    .bang {
        width: 50%;
        display: flex;
        /*flex-direction: column;
        align-items: center;*/
    }
    
    .letra {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        background: linear-gradient(to top, gray, red); 
        width: 90%;
        
      }
    
    .letra2{
        color: black;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: red;
        opacity: 0.8;
    }

    
    /*VIVOS*/
.main-vivos {
    margin-bottom: 100px;
}

.letra3 {
        transition: all 0.3s;
        position: relative;
        cursor: pointer;
}

.letra3:hover {
        transform: scale(1.2, 1.2);
}

.videosvivos {
    box-shadow: 4px 4px 20px red;
}

.vivos1 {
    display: flex; 
    /*justify-content: space-around;
     align-items: center; */
}

.racing {
    width: 40%;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.huracan {
    width: 40%;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.vivos2 {
    /*display: flex; 
    justify-content: space-around;
    align-items: center; */
}

.municipal {
    width: 40%;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.obras {
    width: 40%;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.letra3{
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: red;
    opacity: 0.8;
}

/*GALERIA*/


.grid {
    margin-bottom: 100px;
    margin-top: 50px;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    grid-column-gap: 100px;
}

.foto3 {
    width: 100%;
    height: 335px;
    border: 0.2em solid black;
  }
  
  .foto5 {
    width: 100%;
    height: 330px;
    border: 0.2em solid black;
  }
  
  .foto1 {
    border: 0.2em solid black;
    width: 100%;
  }
  
  .foto2 {
    border: 0.2em solid black;
    width: 100%;
  }
  
  .foto4 {
     width: 100%;
      border: 0.2em solid black;
  }
  
  .foto6 {
    width: 100%;
      border: 0.2em solid black;
  }


/*CONTACTO*/
    .centrocontacto h2  {
        color: red;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    label   {
        color: red;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .contacto   {
        display: inline
    }

    /* ubicacion de formulario */
    
    .ubicacion-formulario   {
        background-color: black;
        opacity: 0.7;
        width: 100%;
        margin: 0% 0% 0% 0%;
        border: solid 0.1em red;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .titulo-contactos { 
        background-color: black;
        opacity: 0.7;
        width: 100%;
        margin: 0% 0% 0% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
}

    .footer{
        margin: 20% 0% 0% 0%;
    }


/*RESPONSIVE*/
@media screen and (min-width: 420px) and (max-width: 920px) {
    /*maindiscografia*/
    .album1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .album2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .videoss {
      width: auto;
    }
    .videos {
      width: auto;
    }
  
  
  /*vivos*/
      .vivos1
      {
          display: flex;
          flex-direction: column;    
      }
      .vivos2
      {
          display: flex;
          flex-direction: column;
  
      }
  
  .main-vivos
  {
      display: flex;
      flex-direction: row;
      width: 100%;
  }
  .videosvivos
  {
      width: 100%;
  }
  
      /*maindiscografia*/    
     .album1
     {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
     }     
     .album2
     {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
     }     
     .videoss
     {
      width: auto;
     }
  
  
  /*GALERIA*/
  
    .grid {
    grid: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
     
     }
  
  }